.quests {
  padding: 20px;
  margin: 40px;
  min-height: 60vh;

  .inner {
    display: flex;
    align-items: center;
    gap: 20px;

    .subject-box {
      width: 100%;
      background-color: #fff;
      border: 2px solid #ddd;
      border-radius: 10px;
      overflow: hidden;

      .top {
        background-color: #0582ca;
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: #fff;
        padding: 10px;
      }

      .body {
        p {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 15px;
          cursor: pointer;

          transition: background-color 0.3s ease-in-out;

          &:hover {
            background-color: #ededed;
          }

          span {
            font-size: 14px;

            &:first-child {
              color: #666;
            }

            &:last-child {
              background-color: #0582ca;
              color: #fff;
              padding: 6px;
              font-size: 12px;
              border-radius: 100px;
            }
          }
        }
      }
    }
  }
}
