.sidebar {
  width: 100px;
  background-color: #33415c;
  color: #fff;
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
  padding: 20px 0;
  border-top: 1px solid #ccc;
  z-index: 2;
  overflow: hidden;

  transition: width 0.3s;

  &[data-state="active"] {
    width: 250px !important;

    .sidebarMenu_item {
      a {
        justify-content: start !important;
        span {
          &:last-child {
            display: flex !important;
          }
        }
      }
    }
  }

  .title {
    margin: 20px 0 30px;
    text-align: center;
    display: none;
  }

  .logo {
    width: 70px;
    height: 70px;
    margin: 0 auto;
  }

  .sidebarMenu {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .sidebarMenu_item {
      a {
        padding: 15px 20px;
        font-size: 16px !important;
        color: #dbdbdb;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        span {
          &:first-child {
            font-size: 20px !important;
          }

          &:last-child {
            display: none;
          }
        }

        &:hover {
          color: #ff9800;
          background-color: #2d3952;
        }
      }
    }
  }
}
