.meeting-page {
  padding: 20px;
  margin: 40px;
  min-height: 60vh;

  .inner {
    display: flex;
    width: 100%;
    height: 65vh;
    gap: 20px;

    .video-conferense {
      background-color: #000;
      width: 100%;
      flex: 80%;
      border-radius: 10px;
      position: relative;

      .camera-box {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    .chat {
      flex: 20%;
      border: 2px solid #bbb;
      border-radius: 10px;

      position: relative;

      .messages {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .message {
          display: flex;
          align-items: end;
          justify-content: space-between;
          padding: 10px;
          border-bottom: 2px solid #bbb;

          .left {
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              display: flex;
              align-items: end;
              gap: 5px;

              span {
                color: #b7b7b7;
                font-size: 30px;
                display: flex;
                align-items: center;

                &:last-child {
                  font-size: 18px;
                  color: #444;
                }
              }
            }

            h4 {
              font-size: 18px;
              font-weight: 400;
              color: #444;
            }
          }

          & > p {
            font-size: 14px;
            color: #666;
          }
        }
      }

      .message-input {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;

        input {
          width: 100%;
          padding: 6px;
          font-size: 14px;
          color: #555;
        }

        button {
          background-color: #00a6fb;
          border: none;
          color: #fff;
          padding: 6px;
          font-size: 14px;
        }
      }
    }
  }
}
